
.event-items
  clearfix()

  .event-item
    background-color #FFF
    display inline-block

    h1
      font-size 1.15em
      margin 0

    +at('tablet')
      column(1/2, $cycle: 2)

    +at('desktop')
      column(1/3, $cycle: 3)

    +above('wdesktop')
      column(1/4, $cycle: 4, $uncycle: 4)

    .event-item-container

      padding 10px

      img
        max-width 100%
        max-height 100%

      p
        margin 0

      .event-detail
        .event-title
          display block
          color #6a6a6a
          text-decoration none

          &:hover
            text-decoration underline

        .event-description
          display: block;
          color: #b5b5b5;
          text-decoration: none;

.events-pagination

  ul
    background-color #FFF
    list-style none
    center(175px)

    li
      display inline-block
      margin 5px
      padding 5px
      font-size 20px
      font-weight bold


.page-single-event

  .single-event-img-container

    img
      max-width 100%
      max-height 100%

    +above('tablet')
      column(1/2, $cycle: 2)
      margin-right 0 !important

  .event-details
    background-color #FFF
    padding 15px

    +above('tablet')
      column(1/2, $cycle: 2)

    .event-title
      font-size 2.3em
      color #6a6a6a

    .event-description
      color #a5a5a5

