.simple-user
  .user-avatar-container
    float: left;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color #eaeaea
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

  .user-avatar
    center(both)
    max-width 90%
    max-height 90%