<div class="page-single-event">
    <div class="single-event-img-container">
        <img ng-src="{{ $ctrl.getImagePath($ctrl.eventData.photo_url) }}">
    </div>
    <div class="event-details">
        <a ng-link="['Event', { id: event.id }]" class="event-title">{{ $ctrl.eventData.name }}</a>
        <p class="event-description">{{ $ctrl.eventData.description }}</p>
        <!--p class="event-category">{{ $ctrl.eventData.category.name }}</p-->
        <div ng-if="$ctrl.canGetUser" class="user-view">
            <simple-user userdata="$ctrl.creatorData"></simple-user>
        </div>
    </div>
</div>
