<div class="row">
    <div class="twelve columns">
        <form name="recoverPass">
            <div>
                <h5> Introduzca su email y le enviaremos un link a su correo para restablecer su contraseña </h5>
            </div>
            <div>
                <input id="recover-email" type="email" ng-model="email" placeholder="email" required>
            </div>
            <div>
                <button id="recover-button" ng-click="notifyServer()" ng-disabled="recoverPass.$invalid"> Solicitar </button>
                <div>
                    <small>
                        <b>
                            *En el caso de no haber recibido el correo, revise la bandeja de correo no deseado o SPAM.
                        </b>
                    </small>
                </div>
            </div>
        </form>
    </div>
</div>