<div class="row">
    <div class="twelve columns">
        <form name="event">
            <div>
                <h5>Crear un nuevo evento</h5>
            </div>
            <div>
                <input id="event-name" type="text" ng-model="name" placeholder="Nombre del evento" required>
            </div>
            <div>
                <input id="event-date" type="datetime-local" ng-model="date" placeholder="fecha del evento" required>
            </div>
            <div>
                <input id="event-description" type="text" ng-model="description" placeholder="descripción del evento" required>
            </div>
            <div>
                <div>Añadir una imagen</div>
                <form-picture></form-picture>
            </div>
            <div>
                <categories ng-model="category" ></categories>
            </div>

            <div>
                <button id="event-button" ng-click="notifyEvent()" ng-disabled="event.$invalid"> Crear </button>
            </div>
        </form>
    </div>
</div>