<div class="row">
    <div class="twelve columns">
        <form name="login">
            <div>
                <h5> Inicie sesión para guardar o crear eventos </h5>
            </div>
            <div>
                <input id="login-email" type="email" ng-model="email" placeholder="email" >
            </div>
            <div>
                <input id="login-password" type="password" ng-model="password" placeholder="password" >
            </div>
            <div>
                <button id="login-button" ng-click="notifyLogin()" ng-disabled="login.$invalid">Login</button>
            </div>
            <div>
                <p>
                   <small>
                       Si no recuerda su contraseña solicite una nueva desde
                       <a ng-link="['Recover']"><b>aquí</b></a>
                   </small>
                </p>
            </div>
        </form>
    </div>
</div>
